.container {
  padding: 5px;
  width: 100%;
  object-fit: fill;
}

.card {
  height: 40vh;
  border-radius: 50px;
  background-color: #c3fcd4;
  transition: 0.5s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.img img {
  max-width: 100%;
  max-height: 20vh;
  object-fit: contain;
}
.glass {
  padding: 4px;
  overflow: hidden;
  transform-style: preserve-3d;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  inset: 4px;
  background: linear-gradient(#ffffff59, #ffffffd0);
  border-radius: 45px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0.5s ease-in-out;
  transform: translate3d(0, 0, 25px);
}

.logo {
  position: absolute;
  right: 0;
  top: 0;
  transform-style: preserve-3d;
}
.logo .circle {
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #aff2bf;
  top: 0;
  right: 0;
  box-shadow: rgb(2, 2, 50) -10px 10px 20px;
}

@media screen and (max-width: 500px) {
  .container {
    height: 36vh;
  }
  .card {
    height: 34vh;
  }
  .card h5 {
    font-size: 13px;
  }
  .card img,
  h5,
  span {
    overflow-y: hidden;
  }
}
.card:hover {
  .glass {
    background-color: #21f447;
  }
}
