.banner{
    margin-bottom: 5%;
}
.s_image{
    display: none;
}
.banner img{
    width: 100%;
    /* height: 20vh; */
    object-fit: contain;
}

.contain{
    padding: 10px;
}

@media screen and (max-width:500px) {
    .m_image{
        display: none;
    }
    .s_image{
        display: block;
    }
}